.form-login {
    background-color: #f8f9fa;
    /* Color de fondo, por ejemplo */
    padding: 5px;
    /* Añade espacio interno */
    border: 1px solid #ced4da;
    /* Añade borde */
    width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Centro vertical y horizontal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centro vertical de los elementos */
    height: 75vh;
    /* Ocupa todo el alto disponible */
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
    /* Añade sombra */
}

.form-login form {
      /* Asegúrate de que el formulario ocupe todo el ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    /* Centro horizontal de los elementos dentro del formulario */
}

.form-login form h2 {
    margin-bottom: 20px;
    /* Espacio abajo del título */
}

.form-login form .form-group {
    width: 100%;
    /* Asegúrate de que cada grupo de formulario ocupe todo el ancho disponible */
    margin-bottom: 15px;
    /* Espacio entre los grupos de formulario */
    flex: 0 1 25%;

}

.form-login form .btn {
    margin-top: 10px;

    /* Espacio arriba del botón */
}

.black-button {
    background-color: black;
    border-color: black;
    color: white;
}

/******ALERTA*****/
.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; // Asegura que la alerta esté encima de otros elementos
    background-color: rgb(182, 56, 56); // Cambia el color de fondo
    color: #000; // Cambia el color del texto
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    width: auto;
    max-width: 90%;
    text-align: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .alert-warning {
    background-color: rgb(164, 43, 43); // Color de fondo
    color: white; // Color del texto
    font-weight: bold; // Hacer el texto bold
  }