.form-group{
    margin: 10px;
}

button{
    margin-top:10px;
}


.contenedor-editar-productos{
   
display: flex;
justify-content: center;
}
.formulario{
   
    width: 50%;
}


.articulos-categorias{
    width: 100%;
}

.form-group-categorias{
    width: 20%;
}
