nav{
       margin: 25px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Para que las imágenes se ajusten y no se solapen */
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px;
}

/* Tamaño de Imagenes */
.inicio-pages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*h2 dentro de las imagenes*/
.categoria-inicio {
    position: absolute;
    bottom: 5px;
    left: 75%;
    transform: translateX(-50%);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 25px;
    z-index: 1;
}

/* Para que el h2 sea relativo al contenedor .inicio-pages */
.inicio-pages {
    width: 100%;
    /* Ajustar al ancho del contenedor */
    height: 300px;
    /* Altura fija para todas las imágenes */
    position: relative;
    overflow: hidden;
    /* Ocultar cualquier desbordamiento */
}

/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Dos columnas */
        gap: 10px;
        /* Espacio entre las columnas */
    }

    nav ul li {
        // margin: 10px;
        /* Ajustar el margen para el layout de grid */
    }
}