footer {
    background-color: #02799A;
    color: white;
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton-side {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    /* Inherita las propiedades de fuente */
    color: inherit;
    /* Inherita el color del texto */
    cursor: pointer;
    /* Opcional, para mantener el comportamiento de clic */
}



.horarios{
    width: 45%;
    display: flex;
   margin: 5px;
}
.horarios img{
    flex: 0
}
.letras-horas {
    margin: 2px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.letras-horas div{
    width: 100%;
}
.info{
    width:45%;
    margin: 8px;
}

.email{
    display: flex;
    justify-content: center;
  
}
.telefono{
    display: flex;
    justify-content: center;
}
.elementos-footer{
    margin: 5px;
}
.redes-sociales{
        width: 100%;
        display: flex;
      justify-content: center;
      
}
.redes-sociales>div>img{
    margin: 10px;
}