footer {
    background-color: #02799A;
    color: white;
    position: relative;
    width: 100%;
    padding: 20px;
}

.boton-side {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    /* Inherita las propiedades de fuente */
    color: inherit;
    /* Inherita el color del texto */
    cursor: pointer;
    /* Opcional, para mantener el comportamiento de clic */
}